.info-about-contact{
    width: 30%;
    height: 60px;
    padding: 15px;
    color: rgb(239, 254, 255);
    border: 3px solid rgb(18, 24, 191);
    border-radius: 30px;
    margin:2% 0 2% 0;
    display: flex;
    flex-direction: column;
}

.phone{
    margin-top: 3%;
    margin-left: 10%;
    display: flex;
    justify-content: start;
}

.name-and-gender{
    margin-left: 10%;
    font-size: 20px;
    width: 60%;
    display: flex;
    justify-content: space-between;
}